/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

body {
    min-height: 100dvh;
    background: linear-gradient(to top, #434343, #000000);
    font-family: system-ui, -apple-system, sans-serif;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Ocultar barra de scroll en elementos con scroll horizontal */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}